@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400&family=Roboto+Mono:ital,wght@0,500;0,600;1,200;1,300;1,500&display=swap");
/* MISC */
/*Variables*/
/*PALETA*/
/*FONT-FAMILY*/
/*FONT-SIZE*/
/*SPACINGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #ffffff; }

body {
  background-color: #1a1a1a; }

/*Clases de textos*/
/*main*/
.tittle__big {
  font-family: "Oswald", bold;
  font-size: 2.6em;
  color: #ffffff;
  letter-spacing: 0.15em; }

.paragraph__text--big {
  font-family: "Roboto Mono", bold;
  font-size: 2.2em;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.15em;
  line-height: 2em; }

/*section*/
.subtittle-md {
  text-align: center;
  color: #fff;
  font-family: "Oswald", bold;
  font-size: 2.2em; }

.text-xs {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Mono", bold;
  font-size: 1.8em; }

/*Footer*/
.link__text {
  font-family: "Bebas Neue", bold;
  font-size: 1.8em;
  color: #ffffff; }

.link__text--big {
  font-family: "Bebas Neue", bold;
  font-size: 2.2em;
  color: #ffffff; }

/*fin clases de textos*/
/*Helpers*/
.container {
  margin: 0 auto;
  max-width: 1200px;
  height: calc( 100% - 80px); }

.container__inicio {
  margin: 0 auto;
  max-width: 1200px;
  height: calc( 100% - 80px);
  background-image: url(../images/utilidades/backgroundsilla.jpg);
  background-repeat: no-repeat; }

.container__galeria {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto; }

/* PARTIALS*/
/*Inicio footer*/
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  gap: 2rem;
  flex-wrap: wrap; }
  .footer .footer__card {
    min-width: 200px;
    min-height: 70px;
    border: 2px solid #b100ff;
    padding: 5px; }
    .footer .footer__card .footer__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
    .footer .footer__card .footer__link {
      display: inline-block; }

/*Fin footer*/
/*INICIO HEADER*/
.nav {
  background: #1a1a1a;
  height: 80px;
  border-bottom: 2px solid #b100ff; }
  .nav .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px; }
    .nav .nav__container .nav__logo {
      display: block;
      min-width: 150px;
      margin-right: 70px;
      margin-left: 50px;
      cursor: pointer;
      transition: all 0.3s; }
      .nav .nav__container .nav__logo:hover {
        transform: scale(1.3); }
    .nav .nav__container .nav__menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      z-index: 3000; }
    .nav .nav__container .nav__item {
      padding: 5px 15px;
      text-decoration: none;
      color: #ffffff;
      border-radius: 15px;
      transition: .4s ease; }
    .nav .nav__container .nav__item:hover {
      color: #1a1a1a;
      background-color: #b100ff;
      box-shadow: 0 0 10px #b100ff, 0 0 30px #b100ff, 0 0 70px #b100ff, 0 0 130px #b100ff; }

.nav__label, .nav__input {
  display: none; }

/*FIN HEADER*/
/*  HEADER  */
@media (max-width: 720px) {
  .nav__label {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer; }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #1a1a1a;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center); } }

/* FIN HEADER */
/* VIEWS*/
/*Inicio Main*/
.presentation {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 10rem; }
  .presentation .presentation__logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .presentation .presentation__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px; }

.boton__main {
  margin-top: 40px;
  padding: 15px 30px;
  align-items: center;
  background: #1a1a1a;
  border: 1px solid #b100ff;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em; }

.boton__main:hover {
  background-color: #b100ff; }

/*Fin main*/
/*Inicio Section*/
.section {
  padding: 2.4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  margin-top: 20px;
  justify-content: center; }
  .section .section__tittle {
    padding: 2.4em; }
  .section .section__card {
    display: flex;
    flex-direction: column; }
    .section .section__card .card {
      height: auto;
      border: 1px solid #b100ff;
      margin-bottom: 10px;
      padding: 2.4em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .section .section__card .card .card__text {
        max-width: 400px;
        min-width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px; }
      .section .section__card .card .card1 {
        height: 300px;
        max-width: 400px;
        min-width: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center; }

/*Fin section*/
@media (max-width: 720px) {
  .presentation {
    flex-direction: column; }
    .presentation .tittle__big {
      font-size: 16px; }
    .presentation .boton__main {
      padding: 5px 10px; }
  .card.card__text.card1 {
    flex-direction: column; } }

.link__text-galeria {
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px; }

.linea {
  background: #b100ff;
  height: 2px;
  width: auto;
  display: block; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 75%;
  margin: auto;
  gap: 10px;
  padding: 40px 0;
  overflow: hidden; }

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5); }

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 350px;
  object-fit: cover;
  transition: transform 0.5s; }

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg);
  scale: 1.3; }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 4000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }

.light-box img {
  width: 40vw;
  max-height: 90vh; }

.light-box:target {
  transform: scale(1); }

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #b100ff;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%; }

.arrow {
  display: block;
  background: #b100ff;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center; }

@media (max-width: 400px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  .close {
    top: 20px;
    right: 20px; }
  .light-box img {
    width: 100vw;
    height: 70vh; } }

/*Inicio sistema turnos*/
.turnos__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  max-width: 1200px;
  height: 100px;
  border: 1px solid #b100ff; }

.turnos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; }

.turnos__selection-day {
  border: 1px solid #b100ff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 10px; }

.turnos__selection-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.calendary__grid {
  max-width: 500px;
  margin: 20px; }

.first__day {
  grid-column-start: 1; }

.day__name {
  background: #5f6a6d;
  text-align: center;
  color: #ffffff;
  font-size: 2.4em; }

.turnos__selection-horario {
  margin: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.turnos__selection-btn {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.btn-card {
  font-family: "Bebas Neue", bold;
  font-size: 1.8em;
  border-radius: 3px;
  padding: .5em;
  display: inline-block;
  text-decoration: none;
  margin: 10px 10px 10px 10px; }

.btn {
  font-family: "Bebas Neue", bold;
  font-size: 1.8em;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  transition: background-color ease-in .3s; }

.btn-green {
  color: #fff;
  background-color: #07bd56; }

.btn-green:hover {
  background-color: #b100ff; }

.btn-red {
  color: #fff;
  background-color: #bd0707; }

.btn-red:hover {
  background-color: #1a1a1a; }

li {
  text-align: center;
  color: #ffffff;
  font-size: 1.2em; }

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px;
  row-gap: 1rem; }

/*Fin sistema turnos*/
@media (max-width: 500px) {
  .turnos__selection-menu div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; } }

/*Inicio Productos*/
.tienda__nav {
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.tienda__nav ul li {
  display: inline-flex;
  padding: 20px; }

.tienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.tienda__producto {
  width: 250px;
  height: 300px;
  background: #5f6a6d;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--accent);
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  width: 130px;
  height: 30px;
  border: 1px solid #b100ff;
  border-radius: 5px; }

.boton:hover {
  background: #b100ff; }

/*Fin productos*/
.contact {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  min-width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid var(--accent); }

.contact__input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 300px; }

.contact__input-comentary {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  width: 300px; }

input {
  padding: 10px 25px;
  border: 1px solid var(--accent);
  font-size: var(--text-xs); }

input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--accent); }

::placeholder {
  font-size: var(--text-xs);
  font-family: var(--titles);
  color: var(--accent); }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center; }

::placeholder {
  font-size: var(--text-xs);
  font-family: var(--titles);
  color: var(--accent); }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.contact__img {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .contact__img h3 {
    padding-bottom: 10px; }
