
/*Variables*/

    /*PALETA*/

    $primary: #1a1a1a;
    $secondary:#ffffff;
    $accent:#b100ff;
    $shadow:#98ACB1;
    $shadow-dark:#5f6a6d;

    /*FONT-FAMILY*/

    $titles: 'Oswald', bold;
    $links: 'Bebas Neue', bold;
    $texts: 'Roboto Mono', bold;

    /*FONT-SIZE*/

    $text-lg:3.6em;
    $text-md:2.2em;
    $text-sm:1.8em;
    $text-xs:1.6em;

    /*SPACINGS*/

    $spacing-lg:4.8rem;
    $spacing-md:3.2rem;
    $spacing-sm:2.4rem;
    $spacing-xs:1.2rem
