
/*Inicio Main*/

.presentation{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 0 10rem;

    .presentation__logo{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
    .presentation__paragraph{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding: 20px;
        
    }
}

.boton__main{
    margin-top: 40px;
    padding: 15px 30px;
    align-items: center;
    background: #1a1a1a;
    border: 1px solid #b100ff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}

.boton__main:hover{
    background-color: #b100ff;
}



/*Fin main*/

/*Inicio Section*/
.section{
    padding: $spacing-sm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    margin-top: 20px;
    justify-content: center; 

    .section__tittle{
        padding: $spacing-sm;
    }
    
    .section__card{
        display: flex;
        flex-direction: column;
        
        .card{
            height: auto;
            border: 1px solid $accent;
            margin-bottom: 10px;
            padding: $spacing-sm;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;



            .card__text{
                max-width: 400px;
                min-width: 200px;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px;
            }
            .card1{
                height: 300px;
                max-width: 400px;
                min-width: 200px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                
    
            }
        }
    }
    }

/*Fin section*/


@media (max-width:720px){
    .presentation{
        flex-direction: column;
        .tittle__big{
            font-size: 16px;
        }
        .boton__main{
            padding: 5px 10px;
        }
    }
    .card.card__text.card1{
       flex-direction: column;
    
    }
    }